@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-start-color: #C6B8FA;
  --gradient-end-color: #756D94;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, var(--gradient-start-color), var(--gradient-end-color));
  font-family: 'Lilita One', sans-serif;
  font-family: 'Krona One', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
